---
import BenefitsSection from "@/components/_memix/BenefitsSection.astro";
import Header from "@/components/_memix/Header.astro";
import HeroSection from "@/components/_memix/HeroSection.astro";
import IntegrationsSection from "@/components/_memix/IntegrationsSection.astro";
import ProblemSection from "@/components/_memix/ProblemSection.astro";
import UseCaseSection from "@/components/_memix/UseCaseSection.astro";
import FAQSection from "@/components/_memix/FAQSection.astro";
import MemixLayout from "@/layouts/MemixLayout.astro";
import CTASection from "@/components/_memix/CTASection.astro";
import Footer from "@/components/_memix/Footer.astro";
---

<MemixLayout>
  <div class="max-w-[80rem] mx-auto relative">
    <Header />
    <main class="memix">
      <HeroSection />
      <ProblemSection />
      <BenefitsSection />
      <UseCaseSection />
      <IntegrationsSection />
      <FAQSection />
      <CTASection />
    </main>
    <Footer />
  </div>
</MemixLayout>
<style>
  .memix :global(section) {
    opacity: 0;
    transform-origin: bottom center
  }
</style>
<script>
  import { animate, inView } from "motion";
  const sections = document.querySelectorAll<HTMLElement>("section")
    inView(sections, (section) => { 
      const animation = animate(section, {
        y: [15, 0],
        opacity: [0, 1]
      }, {
        duration: 0.2,
        ease: "easeIn"
      })
      animation.play()
    }, {
      amount: 0.2
    })
</script>
