---
import BenefitsSection from "@/components/_memix/BenefitsSection.astro";
import Header from "@/components/_memix/Header.astro";
import HeroSection from "@/components/_memix/HeroSection.astro";
import IntegrationsSection from "@/components/_memix/IntegrationsSection.astro";
import ProblemSection from "@/components/_memix/ProblemSection.astro";
import UseCaseSection from "@/components/_memix/UseCaseSection.astro";
import FAQSection from "@/components/_memix/FAQSection.astro";
import MemixLayout from "@/layouts/MemixLayout.astro";
import CTASection from "@/components/_memix/CTASection.astro";
import Footer from "@/components/_memix/Footer.astro";
---

<MemixLayout>
  <div class="max-w-[80rem] mx-auto relative">
    <Header />
    <main class="min-h-[400vh]">
      <HeroSection />
      <ProblemSection />
      <BenefitsSection />
      <UseCaseSection />
      <IntegrationsSection />
      <FAQSection />
      <CTASection />
      <Footer />
    </main>
    <footer></footer>
  </div>
</MemixLayout>
