---
import CTA from "./ui/CTA.astro";
---

<section id="cta-section" aria-labelledby="header">
  <div class="min-h-202.5 bg-[url('/cta-bg.png')] bg-center flex items-end p-9.5">
      <div class="max-w-191.75 mx-auto flex flex-col items-center">
        <h2 class="text-center" id="header">Time to fly through big ideas, while we handle the rest</h2>
        <p class="body-2 my-8">
          Let Memix handle the notes from today, so you can focus on your next big win.
        </p>
        <CTA />
      </div>
    </div>
</section>