---
import memixLogo from "@/assets/_memix/Memix-logo.svg"
import { Image } from 'astro:assets';
---

<header class="w-full absolute top-9.5 z-2">
  <div class="max-w-[55rem] w-full mx-auto p-2 flex items-center justify-between border-[0.7px] border-black/50 bg-[rgba(245, 250, 253, 0.64)] backdrop-blur-[6px]">
    <Image src={memixLogo} alt="Memix Logo" priority />
    <nav aria-label="Primary navigation">
      <ul class="flex items-center gap-6">
        {
          ["Features", "Integrations", "Use cases", "FAQs"].map((item)=><li class="leading-5 -tracking-[.02rem]"><a href="#">{item}</a></li>)
        }
      </ul>
    </nav>
    <a href="#" class="py-2.5 px-4.5 bg-accent inline-block text-lg leading-normal">Start for free<span class="sr-only"> and experience a different a way of attending meeting.</span></a>
  </div>
</header>
