<section id="usecase-section" aria-labelledby="header">
  <div class="py-33 p-4 max-xs:py-10">
    <div class="max-w-[28.25rem] mx-auto">
      <h2 class="text-center" id="usecase-header">
        Where Our Notes Bloom Best
      </h2>
      <p class="body-2 mx-8">
        From pitch decks to product syncs, clarity always finds a place.
      </p>
    </div>
    <div
      class="max-w-[67.875rem] bg-[url('_memix/usecase-bg.png')] bg-cover mx-auto flex gap-x-16 gap-y-4 min-h-[20.125rem] p-3 mt-8 bg-top items-center justify-between max-md:flex-col max-lg:gap-x-8 max-md:items-start">
      <article class="md:basis-75">
        <h4 class="text-left">Team Meetings & 1:1s</h4>
        <p class="body-2 mt-3 text-left text-[#5E5266] max-md:mt-2">
          Capture ideas, decisions, and next steps — without slowing down the
          room.
        </p>
      </article>
      <article class="md:basis-68.25">
        <h4 class="text-left">Client Calls</h4>
        <p class="body-2 mt-3 text-left text-[#5E5266] max-md:mt-2">
          Stay focused on connection. We’ll take care of the documentation.
        </p>
      </article>
      <article class="md:basis-75">
        <h4 class="text-left">Sales & Demos</h4>
        <p class="body-2 mt-3 text-left text-[#5E5266] max-md:mt-2">
          Stay focused on connection. We’ll take care of the documentation.
        </p>
      </article>
    </div>
  </div>
</section>
