@import "tailwindcss";

@theme {
  --color-accent: rgba(212, 152, 255, 1);
}

@layer base {
  * {
    &:focus-visible {
      outline: 2px solid var(--color-accent);
      outline-offset: 1px;
    }
  }
  details {
    cursor: pointer;
  }
  button,
  [role="button"] {
    cursor: pointer;
  }
  h2 {
    @apply text-[3.5rem] font-semibold leading-[3.8125rem] -tracking-[.14rem];
  }
  h4 {
    @apply text-[2rem] font-medium leading-normal -tracking-[.06em] text-center;
  }
}

@layer components {
  .body-1 {
    @apply text-2xl leading-normal font-medium;
  }
  .body-2 {
    @apply text-[#47404C] text-center text-xl leading-normal;
  }
  .body-3 {
    @apply text-black text-center text-lg leading-normal;
  }
}
